<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<bean id="factura" class="mx.com.superq.Factura"/>
	
	<bean id="dvdPlayer" class="Tester.DVDPlayer"/>
	<bean id="mp3Player" class="Tester.MP3Player"/>
	<bean id="blueRayPlayer" class="Tester.BlueRayPlayer"/>
	<bean id="smartphone" class = "Tester.Smartphone"/>
	
	<bean id="tester" class="Tester.Tester">
		<property name="device" ref="smartphone"/>
	</bean>
</beans>
